<table border="1">
	<th>Title</th>
	<th>Author</th>
	<th>Publication data</th>
	<th>Price</th>
	<th>Genre</th>
	<th>Description</th>
	<tr>
		<td>
			<%= @book.title %>
		</td>
		<td>
			<%= @book.author %>
		</td>
		<td>
			<%= @book.publish_date %>
		</td>
		<td>
			<%= @book.price %>
		</td>
		<td>
			<%= @book.genre %>
		</td>
		<td>
			<%= @book.description %>
		</td>
	</tr>
</table>